<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.judecodes.mailadmin.infrastructure.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.judecodes.mailadmin.domain.entity.Resource">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="description" property="description" />
        <result column="category_id" property="categoryId" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
        <result column="lock_version" property="lockVersion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, name, url, description, category_id, update_time, deleted, lock_version
    </sql>
    <select id="selectResourceListByAdminId" resultType="com.judecodes.mailadmin.vo.ResourceBasicInfoVO">
        SELECT res.id, res.name
        FROM ums_admin_role_relation arr
                 LEFT JOIN ums_role_resource_relation rrr ON arr.role_id = rrr.role_id
                 LEFT JOIN ums_resource res ON rrr.resource_id = res.id
        WHERE arr.admin_id = #{adminId}
    </select>

</mapper>
