<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.judecodes.mailuser.infrastructure.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.judecodes.mailuser.domin.User">
        <id column="user_id" property="userId" />
        <result column="nick_name" property="nickName" />
        <result column="real_name" property="realName" />
        <result column="user_mail" property="userMail" />
        <result column="login_password" property="loginPassword" />
        <result column="pay_password" property="payPassword" />
        <result column="user_mobile" property="userMobile" />
        <result column="user_regip" property="userRegip" />
        <result column="user_lasttime" property="userLasttime" />
        <result column="user_lastip" property="userLastip" />
        <result column="user_memo" property="userMemo" />
        <result column="sex" property="sex" />
        <result column="birth_date" property="birthDate" />
        <result column="pic" property="pic" />
        <result column="status" property="status" />
        <result column="score" property="score" />
        <result column="user_account" property="userAccount" />
        <result column="certification" property="certification" />
        <result column="id_card_no" property="idCardNo" />
        <result column="user_role" property="userRole" />
        <result column="deleted" property="deleted" />
        <result column="lock_version" property="lockVersion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, nick_name, real_name, user_mail, login_password, pay_password, user_mobile, update_time, create_time, user_regip, user_lasttime, user_lastip, user_memo, sex, birth_date, pic, status, score, user_account, certification, id_card_no, user_role, deleted, lock_version
    </sql>

</mapper>
